/* blog */
html{
  box-sizing: border-box;
}

.container{
  max-width: 690px;
  margin: 0 auto;
  border: 5px solid black;
  padding: 10px;
  background-color: pink;

}
.navigation2{
position: fixed;
top: 0;
left: 0;
height: 1.3em;
width: 22vw;
}
.navigation2 > ul > li{
  display: inline;
  list-style: none;
}

#footer{


}
/* contact */
.container2{


}
